*.retry
*.bg
*.j2.orig
.ansible/
inventory/group_vars/all/vault.yml

__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

.env
.env.*

files/vpn_data/
files/vpn_data/*
!files/vpn_data/.gitkeep

*.pem
id_rsa
id_ed25519

.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

*.bak
*.tmp

.pre-commit-config.yaml
