---
# FIREWALL
- name: Allow Worker Apps TCP
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop: "{{ worker_tcp_ports }}"

- name: Allow Worker Apps UDP
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: udp
  loop: "{{ worker_udp_ports }}"

- name: Allow Backup Server Access
  community.general.ufw:
    rule: allow
    src: "{{ ip_backup }}"
    comment: 'Allow UrBackup Server'

- name: Allow Mgmt Access to Docker Proxy
  community.general.ufw:
    rule: allow
    src: "{{ ip_mgmt }}"
    port: '2375'
    proto: tcp

- name: Allow SMB from Local Network
  community.general.ufw:
    rule: allow
    port: '445'
    proto: tcp
    src: '192.168.1.0/24'

# STORAGE
- name: Create heavy data directories on SSD
  file:
    path: "{{ data_drive_path }}/{{ item }}"
    state: directory
    owner: "{{ sys_user }}"
    group: "{{ sys_user }}"
    mode: '0755'
  loop: "{{ worker_data_dirs }}"

- name: Ensure configuration directories exist
  file:
    path: "{{ root_dir }}/{{ item }}"
    state: directory
    owner: "{{ sys_user }}"
    group: "{{ sys_user }}"
    mode: '0755'
  loop:
    - promtail_config
    - obsidian_publisher

# CONFIGS
- name: Deploy Promtail config
  template:
    src: "../templates/promtail-config.yml.j2"
    dest: "{{ root_dir }}/promtail_config/promtail-config.yml"
    owner: "{{ sys_user }}"
    group: "{{ sys_user }}"
    mode: '0644'
  notify: Restart Docker Stack

- name: Copy Obsidian Publisher Build Files
  copy:
    src: "../files/obsidian_publisher/"
    dest: "{{ root_dir }}/obsidian_publisher"
    owner: "{{ sys_user }}"
    group: "{{ sys_user }}"
    mode: '0755'

# PERMISSIONS
- name: Ensure Docker Volume for Site Repo exists
  community.docker.docker_volume:
    name: site_repo_data
    state: present

- name: Fix permissions on site_repo_data volume
  community.docker.docker_container:
    name: fix_repo_perms
    image: busybox
    detach: false
    cleanup: true
    volumes:
      - site_repo_data:/data
    command: chown -R 1000:1000 /data
  changed_when: false

# URBACKUP CLIENT
- name: Install UrBackup Client
  become: true
  shell: |
    TF=$(mktemp) && wget "https://hndl.urbackup.org/Client/2.5.25/UrBackup%20Client%20Linux%202.5.25.sh" -O $TF && sudo sh $TF; rm -f $TF
  args:
    creates: /usr/local/sbin/urbackupclientbackend
