---
# ==========================================
# ОБЩАЯ НАСТРОЙКА ДЛЯ ВСЕХ
# ==========================================
- name: Apply Common Configuration
  hosts: all
  roles:
    - common

# ==========================================
# НАСТРОЙКА MANAGEMENT SERVER
# ==========================================
- name: Configure Mgmt Node
  hosts: mgmt
  become: true
  vars:
    compose_template: "../templates/mgmt/docker-compose.yml.j2"

  tasks:
    # FIREWALL RULES (MGMT)
    - name: Allow TCP ports (Mgmt Specific)
      community.general.ufw:
        rule: allow
        port: "{{ item }}"
        proto: tcp
      loop:
        - '2222'  # GitLab SSH
        - '80'    # HTTP
        - '443'   # HTTPS
        - '25565' # Minecraft Proxy (TCP)

    - name: Allow UDP ports (Mgmt Specific)
      community.general.ufw:
        rule: allow
        port: "{{ item }}"
        proto: udp
      loop:
        - '4443'  # VPN UDP
        - '25565' # Minecraft Proxy (UDP)

    - name: Allow Loki API from Local Network
      community.general.ufw:
        rule: allow
        port: '3100'
        proto: tcp
        src: '192.168.1.0/24' # логи от Worker и Backup
        comment: 'Allow Loki Push'

    - name: Allow UDP Forwarding for VPN
      community.general.ufw:
        rule: allow
        route: yes # Это правило для транзитного трафика (FORWARD)
        src: '192.168.99.0/24'
        proto: udp
        comment: 'Allow VPN UDP Forwarding for Jitsi'

    - name: Allow VPN TCP
      community.general.ufw:
        rule: allow
        port: '4443'
        proto: tcp

    - name: Enable IPv4 forwarding
      sysctl:
        name: net.ipv4.ip_forward
        value: '1'
        sysctl_set: yes
        state: present
        reload: yes

    - name: Configure UFW to allow forwarding
      lineinfile:
        path: /etc/default/ufw
        regexp: '^DEFAULT_FORWARD_POLICY='
        line: 'DEFAULT_FORWARD_POLICY="ACCEPT"'
      notify: Reload UFW

    - name: Add NAT rules to UFW (before.rules)
      blockinfile:
        path: /etc/ufw/before.rules
        insertbefore: BOF
        marker: "# {mark} ANSIBLE MANAGED BLOCK: VPN NAT"
        block: |
          # Таблица NAT
          *nat
          :POSTROUTING ACCEPT [0:0]
          # Маскарадинг трафика от VPN подсети (192.168.99.0/24) через основной интерфейс
          # ВАЖНО: Ansible автоматически определит имя интерфейса (обычно eth0 или ens18)
          -A POSTROUTING -s 192.168.99.0/24 -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
          COMMIT
      notify: Reload UFW

    - name: Allow Backup Server Access (UrBackup)
      community.general.ufw:
        rule: allow
        src: "{{ ip_backup }}"
        comment: 'Allow UrBackup Server'

    - name: Enable TCP BBR congestion control
      block:
        - name: Ensure tcp_bbr module is loaded
          modprobe:
            name: tcp_bbr
            state: present

        - name: Enable BBR via sysctl
          sysctl:
            name: "{{ item.key }}"
            value: "{{ item.value }}"
            state: present
            sysctl_set: yes
            reload: yes
          loop:
            - { key: 'net.core.default_qdisc', value: 'fq' }
            - { key: 'net.ipv4.tcp_congestion_control', value: 'bbr' }

    # DIRECTORIES
    - name: Ensure configuration directories exist
      file:
        path: "{{ root_dir }}/{{ item }}"
        state: directory
        owner: "{{ sys_user }}"
        group: "{{ sys_user }}"
        mode: '0755'
      loop:
        - traefik_dynamic
        - prometheus_config
        - vpn_build
        - vpn_data
        - glance_config
        - traefik_logs
        - fail2ban_data
        - fail2ban_data/jail.d
        - fail2ban_data/filter.d
        - loki_config
        - promtail_config
        - grafana_provisioning
        - grafana_provisioning/datasources

    - name: Ensure access.log file exists
      copy:
        content: ""
        dest: "{{ root_dir }}/traefik_logs/access.log"
        force: no
        mode: '0644'
        owner: "{{ sys_user }}"

    # копируем папки с конфигами
    - name: Copy dynamic configs (Traefik, Homepage, Prometheus, Fail2Ban)
      copy:
        src: "../files/{{ item }}/"
        dest: "{{ root_dir }}/{{ item }}"
        owner: "{{ sys_user }}"
        group: "{{ sys_user }}"
        mode: '0644'
      loop:
        - traefik_dynamic
        - prometheus_config # Внутри должен лежать prometheus.yml
        - vpn_build         # Для билда контейнера
        - fail2ban_config
        - loki_config

    - name: Deploy OpenConnect VPN Config
      template:
        src: "../templates/mgmt/ocserv.conf.j2"
        dest: "{{ root_dir }}/vpn_data/ocserv.conf"
        owner: "{{ sys_user }}"
        group: "{{ sys_user }}"
        mode: '0640'
      notify: Restart Docker Stack

    - name: Deploy Glance configs
      template:
        src: "../templates/mgmt/glance.yml.j2"
        dest: "{{ root_dir }}/glance_config/glance.yml"
        owner: "{{ sys_user }}"
        group: "{{ sys_user }}"
        mode: '0640'
      notify: Restart Docker Stack

    - name: Deploy Promtail config
      template:
        src: "../templates/promtail-config.yml.j2"
        dest: "{{ root_dir }}/promtail_config/promtail-config.yml"
        owner: "{{ sys_user }}"
        group: "{{ sys_user }}"
        mode: '0644'
      notify: Restart Docker Stack

    - name: Deploy Grafana provisioning
      copy:
        src: "../files/grafana_provisioning/"
        dest: "{{ root_dir }}/grafana_provisioning"
        owner: "{{ sys_user }}"
        group: "{{ sys_user }}"
        mode: '0644'
      notify: Restart Docker Stack

    # URBACKUP CLIENT INSTALL
    - name: Install UrBackup Client
      shell: |
        TF=$(mktemp) && wget "https://hndl.urbackup.org/Client/2.5.25/UrBackup%20Client%20Linux%202.5.25.sh" -O $TF && sudo sh $TF; rm -f $TF
      args:
        creates: /usr/local/sbin/urbackupclientbackend

    # DEPLOY STACK
    - import_role:
        name: deploy_stack


# ==========================================
# НАСТРОЙКА WORKER SERVER
# ==========================================
- name: Configure Worker Node
  hosts: worker
  become: true
  vars:
    compose_template: "../templates/worker/docker-compose.yml.j2"
    data_drive_path: "/ssd"

  tasks:
    # FIREWALL RULES
    - name: Allow TCP ports (Worker Apps)
      community.general.ufw:
        rule: allow
        port: "{{ item }}"
        proto: tcp
      loop:
        - '9100'        # Node Exporter
        - '9001'        # Portainer Agent
        - '8384'        # Syncthing GUI
        - '22000'       # Syncthing Sync
        - '1880'        # Vaultwarden UI
        - '9225'        # Minecraft Prometheus
        - '25565'       # Minecraft Server
        - '8100'        # BlueMap
        - '6060'        # Booklore

    - name: Allow UDP ports (Worker Apps)
      community.general.ufw:
        rule: allow
        port: "{{ item }}"
        proto: udp
      loop:
        - '22000'       # Syncthing Sync
        - '21027'       # Syncthing Discovery
        - '25565'       # Minecraft Server

    - name: Allow Backup Server Access
      community.general.ufw:
        rule: allow
        src: "{{ ip_backup }}"
        comment: 'Allow UrBackup Server'

    - name: Allow Mgmt Access to Docker Proxy (Port 2375)
      community.general.ufw:
        rule: allow
        src: "{{ ip_mgmt }}"
        port: '2375'
        proto: tcp
        comment: 'Allow Homepage from Mgmt'

    - name: Allow SMB from Local Network
      community.general.ufw:
        rule: allow
        port: '445'
        proto: tcp
        src: '192.168.1.0/24'
        comment: 'Allow Samba Shares'

    - name: Enable TCP BBR congestion control
      block:
        - name: Ensure tcp_bbr module is loaded
          modprobe:
            name: tcp_bbr
            state: present

        - name: Enable BBR via sysctl
          sysctl:
            name: "{{ item.key }}"
            value: "{{ item.value }}"
            state: present
            sysctl_set: yes
            reload: yes
          loop:
            - { key: 'net.core.default_qdisc', value: 'fq' }
            - { key: 'net.ipv4.tcp_congestion_control', value: 'bbr' }

    # DIRECTORIES
    - name: Create heavy data directories on SSD
      file:
        path: "{{ item }}"
        state: directory
        owner: "{{ sys_user }}"
        group: "{{ sys_user }}"
        mode: '0755'
      loop:
        - "{{ data_drive_path }}/obsidian"
        - "{{ data_drive_path }}/minecraft/backups"
        - "{{ data_drive_path }}/minecraft/data"
        - "{{ data_drive_path }}/vaultwarden"
        - "{{ data_drive_path }}/booklore/data"
        - "{{ data_drive_path }}/booklore/books"
        - "{{ data_drive_path }}/booklore/bookdrop"
        - "{{ data_drive_path }}/booklore/db_config"

    - name: Ensure configuration directories exist
      file:
        path: "{{ root_dir }}/{{ item }}"
        state: directory
        owner: "{{ sys_user }}"
        group: "{{ sys_user }}"
        mode: '0755'
      loop:
        - promtail_config

    - name: Deploy Promtail config from template
      template:
        src: "../templates/promtail-config.yml.j2"
        dest: "{{ root_dir }}/promtail_config/promtail-config.yml"
        owner: "{{ sys_user }}"
        group: "{{ sys_user }}"
        mode: '0644'
      notify: Restart Docker Stack

    # URBACKUP CLIENT
    - name: Install UrBackup Client
      shell: |
        TF=$(mktemp) && wget "https://hndl.urbackup.org/Client/2.5.25/UrBackup%20Client%20Linux%202.5.25.sh" -O $TF && sudo sh $TF; rm -f $TF
      args:
        creates: /usr/local/sbin/urbackupclientbackend

    - name: Copy Obsidian Publisher Build Files
      copy:
        src: "../files/obsidian_publisher/"
        dest: "{{ root_dir }}/obsidian_publisher"
        owner: "{{ sys_user }}"
        group: "{{ sys_user }}"
        mode: '0755'

    - name: Ensure Docker Volume for Site Repo exists
      community.docker.docker_volume:
        name: site_repo_data
        state: present

    - name: Fix permissions on site_repo_data volume
      community.docker.docker_container:
        name: fix_repo_perms
        image: busybox
        detach: false
        cleanup: true # Контейнер удалится после выполнения
        volumes:
          - site_repo_data:/data
        command: chown -R 1000:1000 /data

    # DEPLOY STACK
    - import_role:
        name: deploy_stack


# ==========================================
# НАСТРОЙКА BACKUP SERVER
# ==========================================
- name: Configure Backup Node
  hosts: backup
  become: true
  vars:
    compose_template: "../templates/backup/docker-compose.yml.j2"
    backup_drive_path: "/raid/backups"

  tasks:
    # FIREWALL RULES
    - name: Allow TCP ports (UrBackup & Monitoring)
      community.general.ufw:
        rule: allow
        port: "{{ item }}"
        proto: tcp
      loop:
        - "55413" # UB FastCGI
        - "55414" # UB Web UI
        - "55415" # UB Internet clients
        - "9100"  # Node Exporter
        - "9001"  # Portainer Agent

    - name: Allow UDP ports
      community.general.ufw:
        rule: allow
        port: "35623"
        proto: udp

    - name: Allow Mgmt Access to Docker Proxy
      community.general.ufw:
        rule: allow
        src: "{{ ip_mgmt }}"
        port: '2375'
        proto: tcp

    # DIRECTORIES
    - name: Create RAID backup directory
      file:
        path: "{{ backup_drive_path }}"
        state: directory
        owner: "{{ sys_user }}"
        group: "{{ sys_user }}"
        mode: '0770'

    - name: Ensure configuration directories exist
      file:
        path: "{{ root_dir }}/{{ item }}"
        state: directory
        owner: "{{ sys_user }}"
        group: "{{ sys_user }}"
        mode: '0755'
      loop:
        - promtail_config

    - name: Deploy Promtail config from template
      template:
        src: "../templates/promtail-config.yml.j2"
        dest: "{{ root_dir }}/promtail_config/promtail-config.yml"
        owner: "{{ sys_user }}"
        group: "{{ sys_user }}"
        mode: '0644'
      notify: Restart Docker Stack

    # DEPLOY STACK
    - import_role:
        name: deploy_stack
